# Maven
target/
*.ser
*.ec

# IntelliJ Idea
.idea/
out/
*.ipr
*.iws
*.iml
atlassian-ide-plugin.xml

# Eclipse
.classpath
.project
.settings/

# Svn
.svn/

# Other
bin/

#secret stuff
*.log

test-output/